{% extends "layout.html.twig" %}

{% block header %}
    {% include "partials/_header-user.html.twig" %}
{% endblock %}

{% block main %}
    <main class="container py-5">
        <h1>Utilisateurs</h1>
        {% for user in users %}
        <div class="card mt-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Username: {{ user.username }} </h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Email: {{ user.email }}</h6>
            </div>
        </div>
        {% else %}
        <p>Erreur : données utilisateur non disponibles.</p>
        {% endfor %}
    </main>
{% endblock %}