:root
{
    --fond: #fadde1;
    --bandeau: #ff5d8f;
    --boutton: #ff85a1;
    --submit: #ff0a54;
    --h: #ff0a54;
    --hover: #ff477e;
    --border: #e500a4;
    --margin: 3rem;
    --color-fond: #fae0e4;
}

*
{
    box-sizing: border-box;
    color:#ff5d8f;
    font-family: 'Archivo';
}

body 
{
  background-color: var(--fond);
  margin: 0;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 
{
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--h);
}

h1, .h1 
{
  font-size: calc(1.375rem + 1.5vw);
}

h2, .h2 
{
  font-size: calc(1.325rem + 0.9vw);
}

h3, .h3 
{
  font-size: calc(1.3rem + 0.6vw);
}

h4, .h4 
{
  font-size: calc(1.275rem + 0.3vw);
}

h5, .h5 
{
  font-size: 1.25rem;
}

h6, .h6 
{
  font-size: 1rem;
}

p 
{
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul 
{
  padding-left: 2rem;
}

ol,
ul,
dl 
{
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol 
{
  margin-bottom: 0;
}

a
{
  text-decoration: none;
}

button
{
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
  margin-inline-end: 0.75rem;
  background-color: var(--boutton);
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  color: var(--color-fond);
}

fieldset 
{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 1.5rem;
  border: 0;
  padding: 0;
}

label 
{
    width: 30%;
    text-align: right;
    margin-right: 1rem;
    margin-bottom: 0;
}

input[type="text"],
input[type="password"],
input[type="email"] 
{
  flex: 1;
  width: auto;
  border-radius: 10px;
  border: 1px solid var(--border);
  padding: 5px;
}

button[type="submit"] 
{
  background-color: var(--submit) ;
}

.btn
{
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid transparent;
    background-color: var(--boutton);
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 10px;
    color: var(--color-fond);
}

.btn:hover,
button:hover
{
    background-color: var(--hover);
    scale:1.1;
}

.py-5
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3rem;
  }
  
.bg-body-tertiary
{
  margin-top: 6rem;
  background-color: var(--bandeau);
  padding: 3rem;
  border-radius: 15px;
}

.navbar
{
  margin-top:0;
  margin-bottom: var(--margin);
  border-radius: 0;
}

.navbar a 
{
  color: var(--color-fond);
  font-size: 1.5rem;
}

.navbar .navbar-brand
{
  font-size: 2rem;
}

.display-5
{
  color: var(--color-fond);
}

.btn-acceuil
{
  display: flex;
    justify-content: center;
    gap: 2rem;
}

.container-fluid
{
  display: flex;
  flex-direction: row;
  align-items: center
}

.container-fluid ul
{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style: none;
  margin: 0;
}